html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Droid Sans', sans-serif;
}

#root, #popout-root {
  width: 100%;
}

.openPopoutButton {
  font-size: 25px;
  margin-bottom: 20px;
  background: white;
  border: 3px solid black;
  font-family: 'Comic Sans MS', script;
  margin: 0 auto;
  width: 180px;
  display: block;
  margin-bottom: 40px;
}
