html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Droid Sans', sans-serif;
}

#root {
  width: 100%;
}

.appWrapper {
  width: 95%;
  display: flex;
  margin: 0 auto;
}

.openPopoutButton {
  border: 3px solid black;
  font-family: 'comic sans ms', cursive;
  font-size: 20px;
  margin: 0 auto 20px;
  background: white;
  display: block;
}
