.counterSection {
  display: flex;
  flex: 1 0 50%;
  justify-content: center;
  border: 3px solid black;
  border-left: 0;
  padding: 20px;
}

.counterButton {
  font-size: 250px;
  font-weight: bold;
  min-width: 70px;
  border: 2px solid black;
}
