.counterSection {
  border-left: 0;
  display: flex;
  justify-content: center;
}

.counterButton {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border: 10px solid black;
  font-size: 250px;
  font-weight: bold;
}
