body {
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  font-size: 250px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  min-width: 70px;
}
